.header{
    height: 50px;
    background-color: #BCCEB5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    padding-left: 0%;
    
    
}

.logoHeader{
    height: 100px;
}

.logoprofileheader{
    width: 60px;
}
